<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="renderer" content="webkit"/>
<meta name="description" content=""/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
<link rel="shortcut icon" href="../assets/favicon.ico" th:href="@{/assets/favicon.ico}">
<link rel="apple-touch-icon" href="../assets/apple-touch-icon.png"/>
<title>MockTPO</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" type="text/css" href="../assets/css/materialize.min.css" th:href="@{/assets/css/materialize.min.css}">
<link rel="stylesheet" type="text/css" href="../assets/css/app.css" th:href="@{/assets/css/app.css}">
</head>
<body>
<div th:replace="views/header::header"></div>
<div class="container">
  <div class="row">
    <div class="section">
      <h5 th:text="#{account}">Account</h5>
    </div>
  </div>
</div>
<div th:replace="views/footer::footer"></div>
<script src="../assets/js/jquery.min.js" th:src="@{/assets/js/jquery.min.js}"></script>
<script src="../assets/js/materialize.min.js" th:src="@{/assets/js/materialize.min.js}"></script>
<script src="../assets/js/app.js" th:src="@{/assets/js/app.js}"></script>
</body>
</html>
