<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<div class="app-wrapper">
<div th:replace="fragments/header::header"></div>
<form id="payment-req-form" action="https://www.alipay.com" th:action="@{/payments/alipay/request}" th:object="${orderVo}" method="post" target="_blank">
  <div class="container">
    <div class="row">
      <div class="section">
        <h4 th:text="#{order_confirmation}">Order Confirmation</h4>
      </div>
      <div class="divider"></div>
    </div>
    <div class="row">
      <div class="section">
        <h5 class="grey-text text-darken-4" th:text="#{order_details}">Order Details</h5>
        <p class="grey-text text-darken-1" th:text="#{order_details}">Order Details</p>
      </div>
      <table class="responsive-table">
        <thead>
        <tr>
          <th th:text="#{order_number}">Order Number</th>
          <th th:text="#{product_name}">Product Name</th>
          <th th:text="#{email}">Email</th>
          <th th:text="#{payment_type}">Payment Type</th>
          <th th:text="#{price}">Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td th:text="*{orderNumber}"></td>
          <td th:switch="*{pid}">
            <span th:case="1" th:text="#{mocktpo_basic}">MockTPO Basic</span>
            <span th:case="2" th:text="#{mocktpo_professional}">MockTPO Professional</span>
          </td>
          <td th:text="*{email}"></td>
          <td th:switch="*{paymentType}">
            <span th:case="1" th:text="#{alipay}">Alipay</span>
            <span th:case="2" th:text="#{paypal}">PayPal</span>
          </td>
          <td class="pink-text text-accent-2" style="margin:10px 0;font-size:32px;font-weight:bold;" th:text="*{price}"></td>
        </tr>
        </tbody>
      </table>
      <input type="hidden" th:field="*{orderNumber}">
      <input type="hidden" th:field="*{pid}">
      <input type="hidden" th:field="*{email}">
      <input type="hidden" th:field="*{paymentType}">
      <input type="hidden" th:field="*{price}">
      <input type="hidden" th:field="*{status}">
    </div>
    <div class="row">
      <a class="btn btn-pay-now modal-trigger indigo" href="#info-modal" th:text="#{pay_now}">Pay Now</a>
    </div>
  </div>
  <div id="info-modal" class="modal">
    <div class="modal-content">
      <h4 th:text="#{continue}">Continue</h4>
      <p th:text="#{continue_in_the_new_window}">Please process your order in the new window.</p>
    </div>
    <div class="modal-footer">
      <a class="btn waves-effect waves-light indigo" id="ok-button" th:text="#{payment_was_successful}">Payment was Successful</a>
      <a class="btn pink accent-2" th:href="'mailto:service@mocktpo.com?subject=MockTPO%20Order%20Issue%20-%20Order%20No.%20' + ${orderVo.orderNumber}" th:text="#{there_was_a_problem}">There was a Problem</a>
    </div>
  </div>
</form>
<div class="push"></div>
</div>
<div th:replace="fragments/footer::footer"></div>
<script src="../assets/js/jquery.min.js" th:src="@{/assets/js/jquery.min.js}"></script>
<script src="../assets/js/materialize.min.js" th:src="@{/assets/js/materialize.min.js}"></script>
<script src="../assets/js/app.js" th:src="@{/assets/js/app.js}"></script>
<script th:inline="javascript">
  var contextPath = /*[[${#request.getContextPath()}]]*/ '';
  var orderNumber = /*[[${orderVo.orderNumber}]]*/ '';
  $('.btn-pay-now').click(function () {
    $('#payment-req-form').submit();
  });
  $('.modal').modal({
    dismissible: false,
    opacity: .5
  });
  $('#ok-button').click(function () {
    $.ajax({
      url: contextPath + '/api/v1/orders/' + orderNumber + '/status/sync',
      type: 'GET',
      timeout: 9000,
      success: function (data) {
        console.log(data);
        if (data == 5) {
          window.location = contextPath + '/orders/' + orderNumber + '/complete';
        }
      },
      error: function (xhr, textStatus) {
        console.log('error: ' + textStatus);
      },
      complete: function () {
        console.log('complete');
      }
    });
  });
</script>
</body>
</html>
