<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="renderer" content="webkit"/>
<meta name="description" content=""/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
<link rel="shortcut icon" href="../assets/favicon.ico" th:href="@{/assets/favicon.ico}">
<link rel="apple-touch-icon" href="../assets/apple-touch-icon.png"/>
<title>MockTPO</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" type="text/css" href="../assets/css/materialize.min.css" th:href="@{/assets/css/materialize.min.css}">
<link rel="stylesheet" type="text/css" href="../assets/css/app.css" th:href="@{/assets/css/app.css}">
</head>
<body>
<div class="app-wrapper">
<div th:replace="fragments/header::header"></div>
<form action="tests.html" th:action="@{/tests/create.do}" th:object="${testVo}" method="post">
  <div class="container">
    <div class="row">
      <div class="section">
        <h4>Create Test</h4>
      </div>
      <div class="divider"></div>
    </div>
    <div class="row">
      <div class="input-field col s12 l4">
        <input id="title-input" type="text" th:field="*{title}">
        <label for="title-input" th:text="#{title}">Title</label>
      </div>
      <div class="input-field col s12 l4">
        <select id="stars-select" th:field="*{stars}">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <label for="stars-select" th:text="#{stars}">Stars</label>
      </div>
      <div class="input-field col s12 l4">
        <input id="version-input" type="text" th:field="*{version}">
        <label for="version-input" th:text="#{version}">Version</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 l6">
        <select id="tag-id-select" th:field="*{tagId}">
          <option th:each="testTagVo : ${testTagVos}" th:value="${testTagVo.tagId}" th:text="${testTagVo.title}"></option>
        </select>
        <label for="tag-id-select" th:text="#{tag}">Tag</label>
      </div>
      <div class="input-field col s12 l6">
        <input id="creator-input" type="text" th:field="*{creator}">
        <label for="creator-input" th:text="#{creator}">Creator</label>
      </div>
    </div>
    <button class="btn indigo" type="submit" th:text="#{save}">Save</button>
    <a class="btn pink" href="tests.html" th:href="@{/tests}" th:text="#{cancel}">Cancel</a>
  </div>
</form>
<div class="push"></div>
</div>
<div th:replace="fragments/footer::footer"></div>
<script src="../assets/js/jquery.min.js" th:src="@{/assets/js/jquery.min.js}"></script>
<script src="../assets/js/materialize.min.js" th:src="@{/assets/js/materialize.min.js}"></script>
<script src="../assets/js/app.js" th:src="@{/assets/js/app.js}"></script>
<script th:inline="javascript">
  var _vds = _vds || [];
  window._vds = _vds;
  (function(){
    _vds.push(['setAccountId', '8f0bbe6cd56ca63e']);
    (function() {
      var vds = document.createElement('script');
      vds.type='text/javascript';
      vds.async = true;
      vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'assets.growingio.com/vds.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(vds, s);
    })();
  })();
</script>
</body>
</html>
