<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="renderer" content="webkit"/>
<meta name="description" content=""/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
<link rel="shortcut icon" href="/assets/favicon.ico" th:href="@{/static/favicon.ico}">
<link rel="apple-touch-icon" href="/assets/apple-touch-icon.png"/>
<title>MockTPO</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" type="text/css" href="/assets/css/materialize.min.css" th:href="@{/assets/css/materialize.min.css}">
<link rel="stylesheet" type="text/css" href="/assets/css/index.css" th:href="@{/assets/css/index.css}">
</head>
<body>
<nav class="blue-grey darken-4" role="navigation">
  <div class="nav-wrapper container">
    <a href="/" th:href="@{/}" class="brand-logo white-text">MockTPO</a>
    <ul class="right hide-on-med-and-down">
      <li class="active" th:if="${not #strings.isEmpty(session.email)}"><a class="cyan-text text-lighten-5" href="home.html" th:href="@{/home}">Home</a></li>
      <li><a class="cyan-text text-lighten-4" href="download.html" th:href="@{/download}">Download</a></li>
      <li th:if="${#strings.isEmpty(session.email)}"><a class="cyan-text text-lighten-4" href="login.html" th:href="@{/login}">Log In</a></li>
      <li th:if="${not #strings.isEmpty(session.email)}"><a class="cyan-text text-lighten-4" href="account.html" th:href="@{/account}">Account</a></li>
      <li th:if="${not #strings.isEmpty(session.email)}"><a class="cyan-text text-lighten-4" href="login.html" th:href="@{/logout.do}">Log Out</a></li>
    </ul>
    <ul class="side-nav" id="nav-mobile">
      <li class="active" th:if="${not #strings.isEmpty(session.email)}"><a class="black-text" href="home.html" th:href="@{/home}">Home</a></li>
      <li><a class="black-text" href="download.html" th:href="@{/download}">Download</a></li>
      <li th:if="${#strings.isEmpty(session.email)}"><a class="black-text" href="login.html" th:href="@{/login}">Log In</a></li>
      <li th:if="${not #strings.isEmpty(session.email)}"><a class="black-text" href="account.html" th:href="@{/account}">Account</a></li>
      <li th:if="${not #strings.isEmpty(session.email)}"><a class="black-text" href="login.html" th:href="@{/logout}">Log Out</a></li>
    </ul>
    <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="material-icons">menu</i></a>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="section">
      <h5>Licenses</h5>
    </div>
  </div>
  <table class="responsive-table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Activation Code</th>
        <th>Hardware</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="license : ${licenses}">
        <td th:text="${license.product}"></td>
        <td th:text="${license.activationCode}"></td>
        <td th:text="${license.hardware}"></td>
      </tr>
    </tbody>
  </table>
</div>
<footer class="page-footer blue-grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">MockTPO</h5>
        <p class="grey-text">Build cross platform desktop apps with JavaScript, HTML, and CSS</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Help</h5>
        <ul>
          <li><a class="cyan-text text-lighten-4" href="#">Link</a></li>
          <li><a class="cyan-text text-lighten-4" href="#">Link</a></li>
          <li><a class="cyan-text text-lighten-4" href="#">Link</a></li>
          <li><a class="cyan-text text-lighten-4" href="#">Link</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<script src="/assets/js/jquery.min.js" th:src="@{/assets/js/jquery.min.js}"></script>
<script src="/assets/js/materialize.min.js" th:src="@{/assets/js/materialize.min.js}"></script>
<script src="/assets/js/app.js" th:src="@{/assets/js/app.js}"></script>
</body>
</html>
