<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="renderer" content="webkit"/>
<meta name="description" content=""/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
<link rel="shortcut icon" href="../assets/favicon.ico" th:href="@{/assets/favicon.ico}">
<link rel="apple-touch-icon" href="../assets/apple-touch-icon.png"/>
<title>MockTPO</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" type="text/css" href="../assets/css/materialize.min.css" th:href="@{/assets/css/materialize.min.css}">
<link rel="stylesheet" type="text/css" href="../assets/css/app.css" th:href="@{/assets/css/app.css}">
</head>
<body>
<div class="app-wrapper">
<div th:replace="fragments/header::header"></div>
<div class="container">
  <div class="row">
    <div class="section">
      <h4 th:text="#{login}">Log In</h4>
    </div>
    <div class="divider"></div>
  </div>
  <div class="row">
    <div class="col s12 l6 offset-l3">
      <div class="card-panel z-depth-0" style="border:1px solid #ddd;padding:40px 40px 100px;">
        <form action="home.html" th:action="@{/login.do}" th:object="${loginVo}" th:method="post">
          <div class="row">
            <div class="input-field col s12">
              <input type="text" id="email" th:field="*{email}">
              <label for="email" th:text="#{email}">Email</label>
            </div>
            <div class="input-field col s12">
              <input type="password" id="password" th:field="*{password}">
              <label for="password" th:text="#{password}">Password</label>
            </div>
          </div>
          <button class="btn indigo" type="submit" th:text="#{login}">Log In</button>
          <a class="btn-flat" href="signup.html" th:href="@{/signup}" th:text="#{dont_have_an_account_signup}">Don't have an account? Sign up</a>
          <blockquote class="pink-text" style="border-left:5px solid #e91e63;" th:text="#{${err}}" th:unless="${err==null}"></blockquote>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="push"></div>
</div>
<div th:replace="fragments/footer::footer"></div>
<script src="../assets/js/jquery.min.js" th:src="@{/assets/js/jquery.min.js}"></script>
<script src="../assets/js/materialize.min.js" th:src="@{/assets/js/materialize.min.js}"></script>
<script src="../assets/js/app.js" th:src="@{/assets/js/app.js}"></script>
<script th:inline="javascript">
  var _vds = _vds || [];
  window._vds = _vds;
  (function(){
    _vds.push(['setAccountId', '8f0bbe6cd56ca63e']);
    (function() {
      var vds = document.createElement('script');
      vds.type='text/javascript';
      vds.async = true;
      vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'assets.growingio.com/vds.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(vds, s);
    })();
  })();
</script>
</body>
</html>
