<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<div class="app-wrapper">
<div th:replace="fragments/header_empty::header"></div>
<div class="container">
  <div class="row">
    <div class="section">
      <h4 th:text="#{signup}">Sign Up</h4>
    </div>
    <div class="divider"></div>
  </div>
  <div class="row">
    <div class="col s12 l6 offset-l3">
      <div class="card-panel z-depth-0" style="border:1px solid #ddd;padding:40px 40px 100px;">
        <form action="#" th:action="@{/signup.do}" th:object="${signupVo}" th:method="post">
          <div class="row">
            <div class="input-field col s12">
              <input type="text" id="email" th:field="*{email}">
              <label for="email" th:text="#{email}">Email</label>
            </div>
            <div class="input-field col s12">
              <input type="password" id="newPassword" th:field="*{newPassword}">
              <label for="newPassword" th:text="#{new_password}">Create a New Password</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <button class="btn indigo" type="submit" th:text="#{signup}">Sign Up</button>
              <blockquote class="pink-text text-accent-2" style="border-left:5px solid #ff4081;" th:text="#{${err}}" th:unless="${err==null}"></blockquote>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <a href="login.html" th:href="@{/login}" th:text="#{already_have_an_account_login}">Already have an account? Log in</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="push"></div>
</div>
<div th:replace="fragments/footer::footer"></div>
<script src="../assets/js/jquery.min.js" th:src="@{/assets/js/jquery.min.js}"></script>
<script src="../assets/js/materialize.min.js" th:src="@{/assets/js/materialize.min.js}"></script>
<script src="../assets/js/app.js" th:src="@{/assets/js/app.js}"></script>
</body>
</html>
