<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="renderer" content="webkit"/>
<meta name="description" content=""/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
<link rel="shortcut icon" href="../assets/favicon.ico" th:href="@{/assets/favicon.ico}">
<link rel="apple-touch-icon" href="../assets/apple-touch-icon.png"/>
<title>MockTPO</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" type="text/css" href="../assets/css/materialize.min.css" th:href="@{/assets/css/materialize.min.css}">
<link rel="stylesheet" type="text/css" href="../assets/css/app.css" th:href="@{/assets/css/app.css}">
</head>
<body>
<div class="app-wrapper">
  <div th:replace="fragments/header::header"></div>
  <div class="container" th:object="${testVo}">
    <div class="row">
      <div class="section">
        <h4>Create Test</h4>
      </div>
      <div class="divider"></div>
    </div>
    <div class="row">
      <div class="input-field col s12 l6">
        <input id="tid-input" type="text" disabled th:field="*{tid}">
        <label for="tid-input">TID</label>
      </div>
      <div class="input-field col s12 l6">
        <input id="title-input" type="text" disabled th:field="*{title}">
        <label for="title-input" th:text="#{title}">Title</label>
      </div>
    </div>
    <form action="tests.html" th:object="${fileUploadVo}" th:action="@{/tests/{tid}/upload.do(tid=${testVo.tid})}" enctype="multipart/form-data" method="post">
      <div class="row">
        <div class="input-field file-field col s12">
          <div class="btn blue darken-4">
            <span>File</span>
            <input type="file" name="file">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Choose your file...">
          </div>
        </div>
      </div>
      <button class="btn blue darken-4" type="submit" th:text="#{upload}">Upload</button>
      <a class="btn pink" href="tests.html" th:href="@{/tests}" th:text="#{cancel}">Cancel</a>
    </form>
  </div>
  <div class="push"></div>
</div>
<div th:replace="fragments/footer::footer"></div>
<script src="../assets/js/jquery.min.js" th:src="@{/assets/js/jquery.min.js}"></script>
<script src="../assets/js/materialize.min.js" th:src="@{/assets/js/materialize.min.js}"></script>
<script src="../assets/js/app.js" th:src="@{/assets/js/app.js}"></script>
</body>
</html>
