<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="renderer" content="webkit"/>
<meta name="description" content=""/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
<link rel="shortcut icon" href="../../assets/favicon.ico" th:href="@{/static/favicon.ico}">
<link rel="apple-touch-icon" href="../../assets/apple-touch-icon.png"/>
<title>MockTPO</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" type="text/css" href="../../assets/css/materialize.min.css" th:href="@{/assets/css/materialize.min.css}">
</head>
<body>
<footer class="page-footer blue-grey darken-4" th:fragment="footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">MockTPO</h5>
        <p class="grey-text">Build cross platform desktop apps with JavaScript, HTML, and CSS</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Help</h5>
        <ul>
          <li><a class="cyan-text text-lighten-4" href="#">Support Center</a></li>
          <li><a class="cyan-text text-lighten-4" href="#">FAQ</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <p class="grey-text">© 2017 Copyright MockTPO</p>
    </div>
  </div>
</footer>
<script src="../../assets/js/jquery.min.js" th:src="@{/assets/js/jquery.min.js}"></script>
<script src="../../assets/js/materialize.min.js" th:src="@{/assets/js/materialize.min.js}"></script>
</body>
</html>
