<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="utf-8"/>
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no">
<link rel="shortcut icon" href="../../assets/favicon.ico" th:href="@{/assets/favicon.ico}">
<link rel="apple-touch-icon" href="../../assets/apple-touch-icon.png"/>
<!-- 360 security browser renderer -->
<meta name="renderer" content="webkit"/>
<!-- description -->
<meta name="description" content="MockTPO,TPO,托福,模考,模拟考试软件,下载"/>
<title>MockTPO 托福模拟考试软件下载官网</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" type="text/css" href="../../assets/css/materialize.min.css" th:href="@{/assets/css/materialize.min.css}">
<link rel="stylesheet" type="text/css" href="../../assets/css/app.css" th:href="@{/assets/css/app.css}">
<!-- ziyuan.baidu.com auto link submission -->
<script>
  (function(){
      var bp = document.createElement('script');
      var curProtocol = window.location.protocol.split(':')[0];
      if (curProtocol === 'https') {
          bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
      }
      else {
          bp.src = 'http://push.zhanzhang.baidu.com/push.js';
      }
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(bp, s);
  })();
</script>
<!-- zhanzhang.so.com (360) auto link submission -->
<script>
  (function(){
    var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?c1153390ab706b06f529bf4d0e57b0d1":"https://jspassport.ssl.qhimg.com/11.0.1.js?c1153390ab706b06f529bf4d0e57b0d1";
    document.write('<script src="' + src + '" id="sozz"><\/script>');
  })();
</script>
<!-- tongji.baidu.com site analytics -->
<script>
  //
  var _hmt = _hmt || [];
  (function () {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?419081941f47efbc18c1287d5f3d55d3";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
  })();
</script>
<!-- growing.io site analytics -->
<script>
  var _vds = _vds || [];
  window._vds = _vds;
  (function () {
    _vds.push(['setAccountId', '8f0bbe6cd56ca63e']);
    (function () {
      var vds = document.createElement('script');
      vds.type = 'text/javascript';
      vds.async = true;
      vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'assets.growingio.com/vds.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(vds, s);
    })();
  })();
</script>
<!-- google analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110390089-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'UA-110390089-1');
</script>
</head>
<body>
</body>
</html>
