/**
 * Dropdown
 */

.dropdown-content li > a, .dropdown-content li > span {
    color: #3f51b5;
}

/**
 * Forms
 */

/* label color */
.input-field label {
    color: #757575;
}

/* label focus color */
.input-field input:focus + label {
    color: #3f51b5 !important;
}

/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid #3f51b5 !important;
    box-shadow: 0 1px 0 0 #3f51b5 !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #3f51b5 !important;
}

/**
 * App
 */

html, body {
    height: 100%;
    margin: 0;
}

.app-wrapper {
    min-height: 100%;
    margin-bottom: -73px;
}

.page-footer, .push {
    height: 73px;
    padding-top: 0;
}

/**
 * App
 */

.app-icon {
    margin-top: 8px;
    content: url("../img/logo.png");
    width: 48px;
    height: 48px !important;
}

/**
 * Buy
 */

.product-card, .payment-card {
    border: 1px solid #bdbdbd;
    background-color: #ffffff !important;
    color: #757575;
    cursor: pointer;
}

.product-card.active, .product-card.active:hover {
    border: 1px solid #3f51b5;
    background-color: #3f51b5 !important;
    color: #ffffff;
}

.product-card:hover, .payment-card:hover {
    border: 1px solid #757575;
}
