.product-card {
    border: 2px solid #ddd;
    cursor: pointer;
}

.product-card.active, .product-card.active:hover {
    border: 2px solid #263238; /* cyan darken-3 */
    background-color: #fff !important;
}

.product-card:hover {
    border: 2px solid #999;
}
