<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mocktpo.mapper.LicenseMapper">

    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <select id="findByActivationCode" resultType="License">
        SELECT
        MT_LICENSE.MT_ID AS id,
        MT_LICENSE.MT_PRODUCT AS product,
        MT_LICENSE.MT_EDITION AS edition,
        MT_LICENSE.MT_VERSION AS version,
        MT_LICENSE.MT_ACTIVATION_CODE AS activationCode,
        MT_LICENSE.MT_EMAIL AS email,
        MT_LICENSE.MT_HARDWARE AS hardware,
        MT_LICENSE.MT_VALID_THROUGH AS validThrough
        FROM MT_LICENSE
        WHERE
        MT_LICENSE.MT_ACTIVATION_CODE = #{activationCode}
    </select>

    <select id="findByEmail" resultType="License">
        SELECT
        MT_LICENSE.MT_ID AS id,
        MT_LICENSE.MT_PRODUCT AS product,
        MT_LICENSE.MT_EDITION AS edition,
        MT_LICENSE.MT_VERSION AS version,
        MT_LICENSE.MT_ACTIVATION_CODE AS activationCode,
        MT_LICENSE.MT_EMAIL AS email,
        MT_LICENSE.MT_HARDWARE AS hardware,
        MT_LICENSE.MT_VALID_THROUGH AS validThrough
        FROM MT_LICENSE
        WHERE
        MT_LICENSE.MT_EMAIL = #{email}
        ORDER BY
        MT_LICENSE.MT_DATE_UPDATED DESC
    </select>

    <insert id="create" parameterType="License">
        INSERT
        INTO MT_LICENSE (
        MT_LICENSE.MT_PRODUCT,
        MT_LICENSE.MT_EDITION,
        MT_LICENSE.MT_VERSION,
        MT_LICENSE.MT_ACTIVATION_CODE,
        MT_LICENSE.MT_EMAIL,
        MT_LICENSE.MT_VALID_THROUGH
        ) VALUES (
        #{product},
        #{edition},
        #{version},
        #{activationCode},
        #{email},
        #{validThrough}
        )
    </insert>

    <update id="update" parameterType="License">
        UPDATE
        MT_LICENSE
        SET
        MT_LICENSE.MT_EMAIL = #{email},
        MT_LICENSE.MT_HARDWARE = #{hardware}
        WHERE
        MT_LICENSE.MT_ACTIVATION_CODE = #{activationCode}
    </update>

</mapper>